{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form action="" method="post" enctype="multipart/form-data" style="width: calc(100%-200px); height: 80%; border: 1px solid #232c34; margin-left: 20%;margin-right: 20%;margin-bottom: 20%;margin-top:0%; align-content: center; border-radius: 10px; -webkit-box-shadow: 26px 24px 19px 2px rgba(0,0,0,0.74);
    -moz-box-shadow: 26px 24px 19px 2px rgba(0,0,0,0.74);
    box-shadow: 26px 24px 19px 2px rgba(0,0,0,0.74); background-color: lightblue;">
{% csrf_token %}
<fieldset class="form-group">
    <legend class="border-bottom mb-4" style="margin-left: 40%; font-size: xx-large; "><strong><u> Add Academy</u></strong></legend>
    {% comment %} {{form | crispy}} {% endcomment %}
    <div style="margin-left: 5%;">
    <div>
        <label for="">Academic Name</label><br>
        {{form.Ac_name}}
    </div>
    <div>
        <label for="">Description</label><br>
        {{form.description}}
    </div>
    <div>
        <label for="">Logo</label><br>
        {{form.logo}}
    </div>
    <div>
        <label for="">Official Web address</label>
        {{form.official_web}}
    </div>

</fieldset>
<div class="form-group" style="margin-left: 5%;">
    <button class="btn btn-primary" type="submit">Add</button>
</div>
</div>
    </form>
    </div>


{% endblock content %}