{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form action="{%url 'addcfinish'%}" method="post" enctype="multipart/form-data" style="width: 60%; height: 80%; border: 1px solid #232c34; margin-left: 20%;margin-right: 20%;margin-bottom: 20%;margin-top:0%; align-content: center; border-radius: 10px; -webkit-box-shadow: 26px 24px 19px 2px rgba(0,0,0,0.74);
    -moz-box-shadow: 26px 24px 19px 2px rgba(0,0,0,0.74);
    box-shadow: 26px 24px 19px 2px rgba(0,0,0,0.74); background-color: lightblue;">
{% csrf_token %}
<fieldset class="form-group">
    <legend class="border-bottom mb-4">Add Coordinator</legend>
  {% comment %} {{p_form |crispy }} {% endcomment %}
  <div style="margin-left: 5%;">
  <div>
    <label for="">Full Name</label><br>
   <select name="FullName" id="">
    {% for i in p_form %}
    <option value="{{i.FullName}}">{{i.FullName}}</option>
    {% endfor %}
   </select>
    <select name="Roll" id="">
        <option value="Coordinator">Coordiantor</option>
        <option value="Instructor">Instructor</option>
        <option value="Student">Student</option>
    </select>
  </div>
  
</fieldset>
<div class="form-group">
    <button class="btn btn-primary" type="submit" style="margin-left:10%;">Add </button>
</div></div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Already have and account?<a href="{% url 'login' %}" class="ml-2">Sign in</a></small>
    </div></div>


{% endblock content %}